* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  color: #003366;
  line-height: 1.6;
  padding: 20px;
  text-align: center;
}

header {
  padding: 40px 20px;
  background-color: #b3d9ff; /* azul claro */
  color: #003366; /* azul oscuro para contraste */
}

.logo-header {
  width: 280px;
  margin-bottom: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header h1 {
  font-size: 48px;
  letter-spacing: 2px;
  font-weight: bold;
}

.slogan {
  font-size: 18px;
  margin-top: 10px;
  font-style: Georgia;
}

section {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

h2 {
  color: #0055a5;
  font-size: 28px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li::before {
  content: "• ";
  color: #0055a5;
  font-weight: bold;
}

.quienes-img {
  display: block;
  max-width: 50%;
  margin: 30px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
  background-color: #f0f4f8;
  text-align: center;
  padding: 30px 20px;
  font-size: 16px;
  margin-top: 50px;
}

footer a {
  color: #0055a5;
  text-decoration: none;
}

footer .redes {
  margin-top: 15px;
}

footer .redes i {
  font-size: 24px;
  margin: 0 10px;
  color: #0055a5;
  cursor: pointer;
}
