header {
  background-color: white;
  color: black;
  padding: 20px 0;
  text-align: center;
  position: relative;
  z-index: 10;
}

.logo-header {
  max-width: 100px;
  margin-top: -30px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  position: relative;
}

.blue-stripe {
  background-color: #007BFF;
  height: 10px;
  width: 100%;
  margin-top: -5px;
}

.quienes-img {
  display: block;
  max-width: 50%;
  margin: 0 auto 30px;
}
